<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Explore · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <%= if @user_signed_in? do %>
      <h3>
        Signed in as: <strong><%= @current_user.username %></strong>
      </h3>
      <%= link "Sign Out", to: Routes.session_path(@conn, :delete), method: :get, class: "btn btn-outline-primary" %>
    <% else %>
      <%= link "Sign In", to: Routes.session_path(@conn, :new), class: "btn btn-outline-primary" %>
      <%= link "Sign Up", to: Routes.registration_path(@conn, :new), class: "btn btn-outline-primary ml-md-3" %>
    <% end %>

    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
